*{
    font:13px "Micorsoft Yahei";
    margin:0;
    padding:0;
}
.aside{
    width:100px;
    background:#23426b;
}

.aside .nav-item{
    width:100px;
    text-align:center;
    height:99px;
    border-bottom:1px solid #233854;
}
.aside .nav-item a{
    /* display:block; */
    color:#85acd1;
    font-weight:blod;
}
/* 精灵图 */
.aside .nav-item a b{
    display:inline-block;
    width:24px;height:24px;
    background:url("icons/aside-icon.png") no-repeat left top;
    margin:1rem auto;
}
.aside .nav-item:nth-child(2) a b{
    background-position:-24px top;
}
.aside .nav-item:nth-child(3) a b{
    background-position:-48px top;
}
.aside .nav-item:nth-child(4) a b{
    background-position:-72px top;
}
.aside .nav-item:nth-child(5) a b{
    background-position:-96px top;
}
.aside .nav-item:nth-child(6) a b{
    background-position:-120px top;
}
/* .aside .nav-item a img{
    margin:1rem auto;
} */
.aside .nav-item.active,
.aside .nav-item:hover{
    background:#258ff1;
}
.aside .nav-item.active a,
.aside .nav-item:hover a{
    color:#fff;
}

.aside .navbar{
    position:relative;
}
.aside .navbar .navbar-toggler{
    color:#85acd1;
}
.aside .navbar .navbar-toggler:hover{
    color:#fff;
}
.aside .navbar-toggler-icon {
  width: 0;
  height: 0;
  border:4px solid transparent;
  border-left:4px solid #85acd1;
  margin-top:-3px;
}
.aside .navbar-collapse{
    position:absolute;
    bottom:0;left:100px;
    background:#23426b;
}