*{
    font:12px "Micorsoft Yahei";
    margin:0;
    padding:0;
}
body{
    background-image:linear-gradient(#82d2e9,#8e7db3);
    
}
.logBox,
.regbox{
    width:350px;
    background:#fff;
    border-radius:5px;
    padding:30px;
    overflow:hidden;
    position:absolute;
    top:20%;
    left:50%;
    margin-left:-175px;
}
.logBox h2,
.regbox h2{
    text-align:center;
    font-size:20px;
    padding-right:55px;
}
.logBox .rows,
.regbox .rows{
    width:350px;
    height:30px;
    position:relative;
    margin-top:20px;
}
.logBox .rows p,
.regbox .rows p{
    height:30px;
    line-height:30px;
    text-align:right;
    color:#f00;
    position:absolute;
    right:0;
    bottom:0;
}
.logBox span,
.regbox span{
    display:inline-block;
    width:60px;
    text-align:justify;
}        
.logBox input,
.regbox input{
    width:290px;height:30px;
    border:none;
    border-bottom:1px dotted #aaa;
    outline:none;
}
.logBox button,
.regbox button{
    width:350px;height:48px;
    background:#694f99;
    color:#fff;
    text-align:center;
    font-size:14px;
    border:none;
    outline:none;
    border-radius:3px;
    cursor:pointer;
    margin-top:20px;
}        
.logBox #logRes,
.regbox #regRes{
    height:30px;
    color:#f00;
    font-size:14px;
    text-align:center;
    line-height:30px;
    overflow:hidden;
}